<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> Baño y peluqueria</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<body oncontextmenu='return false' class='snippet-body'>

    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">

                <h1>
                    <a href="../index.html">
                    <img src="../assets/img/logo.png" alt="" width="75" height="70" class="d-inline-block align-text-top">
                        Happy Furry
                    </a>
                </h1>

            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">

                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
                    <li><a class="nav-link scrollto " href="#services">Servicios</a></li>
                    <li><a class="nav-link scrollto" href="#portfolio">Comapañia</a></li>

                    <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>

                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

            <a href="../views/assign.html" class="ms-3 btn-getstarted">Asignar</a>

        </div>
    </header>

    <section id="hero">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
                    data-aos="fade-up">
                    <div>
                        <h2>Descubre la compañía incondicional
                            que cambiará tu vida, brindándote
                            amor y alegría cada día</h2>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img  d-none d-lg-block" data-aos="fade-left">
                    <img src="../assets/img//views/adoption/casual-life-3d-girl-standing-and-holding-dog.png"
                        height="550" alt="">
                </div>
            </div>
        </div>

    </section>



    <section class="pt-5 pb-5" id="services">
        <div class="section-title" data-aos="fade-up">
            <h2>¡Haz que tu mascota se vea y se sienta genial!</h2>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="news-slider" class="owl-carousel">
                        <div class="post-slide">
                            <div class="post-img">
                                <img src="../assets/img/views/bathroom/bathroom_one.jpg" height="310" alt="">
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Baño de caninos</a>
                                </h3>

                            </div>
                        </div>

                        <div class="post-slide">
                            <div class="post-img">
                                <img src="../assets/img/views/bathroom/bathroom_two.jpg" height="310" alt="">
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">Baños para felinos</a>
                                </h3>
                            </div>
                        </div>

                        <div class="post-slide">
                            <div class="post-img">
                                <img src="../assets/img/views/bathroom/bathroom_theere.jpg" height="310" alt="">
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#"> corte de cabello de caninos</a>
                                </h3>
                            </div>
                        </div>

                        <div class="post-slide">
                            <div class="post-img">
                                <img src="../assets/img/views/bathroom/bathroom_for.jpg" height="310" alt="">
                            </div>
                            <div class="post-content">
                                <h3 class="post-title">
                                    <a href="#">corte de cabello para felinos</a>
                                </h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="footer">
        <div style="overflow: hidden;" class="footer d-md-block d-lg-none">
            <svg preserveAspectRatio="none" viewBox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg"
                style="fill: #ffffff; width: 136%; height: 181px;">
                <path
                    d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z" />
            </svg>
        </div>
        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-about footer-links">
                    <p class="mt-4">Address : Jl. Ring Road Utara, Ngringin, Condongcatur, Kec. Depok, Kabupaten Sleman,
                        Daerah Istimewa Yogyakarta 55281</p>
                    <ul>
                        <li><a href="#">+62 812 234 6789 </a></li>
                        <li><a href="#">buangin@services.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Compañia </h4>
                    <ul>
                        <li><a href="#">Acerca de</a></li>
                        <li><a href="#">Noticas</a></li>
                        <li><a href="#">Mobile</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Contacto</h4>
                    <ul>
                        <li><a href="#">Help/FAQ</a></li>
                        <li><a href="#">Prensa</a></li>
                        <li><a href="#">Afiliados</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-6 footer-links">
                    <h4>Mas</h4>
                    <ul>
                        <li><a href="#">Ubicacion</a></li>
                        <li><a href="#">Parthers</a></li>
                        <li><a href="#">Consejos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="../assets/vendor/aos/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

    <script src="../assets/js/main.js"></script>
    <script src='https://code.jquery.com/jquery-1.12.0.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script>
    <script>$(document).ready(function () {
            $("#news-slider").owlCarousel({
                items: 3,
                itemsDesktop: [1199, 3],
                itemsDesktopSmall: [980, 2],
                itemsMobile: [600, 1],
                navigation: true,
                navigationText: ["", ""],
                pagination: true,
                autoPlay: true
            });

        });</script>
</body>

</html>