<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Donar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="../assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

</head>

<body oncontextmenu='return false' class='snippet-body'>

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">

        <h1>
            <a href="../index.html">
              <img src="../assets/img/logo.png" alt="" width="75" height="70" class="d-inline-block align-text-top"> HappyFurry
            </a>
        </h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">

        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto " href="#services">Servicios</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Comapañia</a></li>

          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>

        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1  d-none d-lg-block hero-img " data-aos="fade-up">
          <img src="../assets/img//views/donate.png" alt="">

        </div>
        <div class="col-lg-6 order-1 order-lg-2 justify-content-center  pt-5  pt-lg-0  d-flex flex-column "
          data-aos="fade-left">
          <div>
            <h2>Ayuda a cambiar el destino de una vida
              peluda. Tu donación es la llave que abre
              las puertas a un futuro más brillante para
              nuestras amigas y amigos de cuatro patas</h2>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section id="donate">
    <div class="section-title" data-aos="fade-up">
      <h2>Tu donación, su felicidad. Ayúdanos
        a hacer sonreír a los más peludos</h2>
    </div>
    <div class="container">
      <form method="post" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">
          <div class="col-md-9">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold"> Donar</label>
            <div class="d-flex flex-row-reverse bd-highlight">
              <input type="text" class="form-control" name="numb" placeholder="USD" required>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">Nombre</label>
            <input type="text" name="name" class="form-control" placeholder="Nombre" required>
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" required>
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">Pais</label>
            <select name="type_service" class="form-control" >
              <option selected value="0" id="0"> Seleccione</option>
              <option value="1">Colombia</option>
              <option value="2">Estados Unidos </option>
              <option value="3">Canada</option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">Número de tarjeta</label>
            <input type="text" class="form-control" name="number_tarjet" placeholder="Número de tarjeta" required>
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">Caducidad</label>
            <input type="text" class="form-control" name="date" placeholder="MM/AA" required>
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">CVC</label>
            <input type="text" class="form-control" name="date" placeholder="CVC" required>
          </div>

          <div class="col-md-2 pt-4">
            <button type="submit" class="btn btn-light ">
               <span>
                 <img src="../assets/img/views/paypal.png" width="35" height="35" alt="">
                </span>
             </button>
          </div>

          <div class="col-md-2 pt-4">
            <button type="submit" class="btn btn-light">Cancelar</button>
          </div>

          <div class="col-md-2 pt-4">
            <button type="submit" class="btn btn-success">Donar</button>
          </div>


        </div>
      </form>

    </div>
  </section>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>

  <script src="../assets/js/main.js"></script>
</body>

</html>